body{
	background: #ECD0EC;
}


#contenedor{
    background-color: #FFFFFF;
    width: 1200px;
    height: 4000px;
    margin: auto;
}

header{
    background-color: #ee6983;
    width: 1200px;
    height: 200px;
}

h1 {
    font-family: Britannic;
    font-size: 40px;
    float: left;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    color: #ffffff;
}

h2 {
    font-family: Britannic;
    font-size: 40px;
    float: left;
    margin-top: 70px;
    margin-left: 400px;
    text-align: center;
    color: #ffffff;
}

/* Diseño del menú */
* {
    margin: 0;
    padding: 0;
}

#menu {
    margin: 1px;
    width: 100%;
}

ul, li {
    list-style: none;
}

nav li {
    float: left;
    position: relative; /* Necesario para submenús */
}

nav li a {
    display: block;
    width: 188.3px;
    padding: 15px 5px;
    background-color: #ffc4c4;
    border: 1px solid #ff1493;
    text-align: center;
    font-family: 'Arial Narrow';
    font-size: 18px;
    text-decoration: none; 
    color: #000;
}

nav li a:hover {
    background-color: #f287bc;
}

/* Submenú */
nav li ul {
    display: none;
    position: absolute;
    background-color: #ffc0cb;
    padding: 0;
    margin: 0;
    min-width: 167px;
    z-index: 1000;
}

nav li:hover ul {
    display: block;
}

nav li ul li {
    position: relative;
}

/* Sub-submenú */
nav li ul li ul {
    left: 100%;
    top: 0;
}

section{
    font-size: 22px;
	font-family:Arial; 
	color: #000000;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 100px;
    text-align: justify;
}

#unidad{
    font-size: 30px;
	font-family: 'Arial Narrow';
	color: #850e35;
	margin-top: 30px;
	margin-bottom:0px;
}

.subtitulos{
    font-size: 28px; 
	font-family: 'Arial Narrow';
    font-weight: bold;
	color:#ff1493; 
}

.tema{
	font-size: 22px;
	font-family: 'Arial Narrow'; 
	color: #000000;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #555;
	padding: 10px;
	vertical-align: top;
	text-align: left;
}

th {
	background-color: #b4a1e6;
	text-align: center;
}


/*PIE DE PAGINA*/
.pie-pagina{
     background-color: #ee6983;
	width: 100%;
	height: 160px;
	border-radius: 0px 0px 30px 30px;
	margin-top: 100px;
	font-size: 18px;
	font-family: Arial;
	text-align: center;
    color:#ffffff;
	margin-top: 140px;
}